*{
    font-family: 'Inter', sans-serif; /* Aplica a fonte Inter ao corpo do documento */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem; /*faz a ação de rolar ate onde cliquei no meu fixo*/
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.titulo{
    text-align: center;
    padding: 2.5rem 0;
}

.titulo span{
    font-size: 5rem;
    color: #0d1837;
    border-radius:  .5rem;
    padding: .2rem 1rem;

}

.titulo .servicos-azul{
    color: #0285f4;
}

  /* inicio menu em mobile */
  .mobile-menu{
    cursor: pointer;
    display: none;
  
  }
  
  .mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ededed;
    margin: 8px;
    transition: 0.3s;
  
  }
  

header{ /*explorar aq dps*/
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #0d1837;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
}

.logo {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    display: block;
}


header .navbar a{
    color: #ededed;
    font-size: 2rem;
    margin: 0 .8rem;
}

#menu-bar{
    color: #ededed;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

/* Estilos existentes... */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden; /* Esconde o menu inicialmente */
    opacity: 0; /* Invisível inicialmente */
    position: absolute;
    background-color: #0d1837;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    display: flex; /* Mantém o alinhamento */
    flex-direction: column; /* Mantém os itens alinhados verticalmente */
    transition: visibility 0.3s, opacity 0.3s ease-in-out; /* Transição suave */
}

.dropdown-content a {
    color: #ededed;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    white-space: nowrap; /* Evita quebra de linha nos itens do dropdown */
}

.dropdown-content a:hover {
    background-color: #14213d;
}

/* Quando o menu estiver visível, as propriedades são alteradas */
.show {
    visibility: visible;
    opacity: 1;
}

/* Ajustes para garantir que os itens não sejam deslocados */
.navbar a, .dropdown {
    display: inline-block;
    vertical-align: middle; /* Mantém alinhamento vertical */
}

.dropdown-content {
    flex-direction: column; /* Garante que os itens fiquem em coluna */
}

.home .video-conteiner video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.video-conteiner .btn{
    position: absolute;
    top: 78%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 2;
    background: #0285f4;
    color: #ededed;
    padding: .8rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    margin-left: 90px;

}

.video-conteiner video {
    pointer-events: none;
}


.home .controles{
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #0d1837;
    position: relative;
    top: 38rem;
}

.home .controles .video-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #0285f4;
    cursor: pointer;
    margin: 0 .5rem;

}


.overlay{
    display: flex;
    position: absolute;
    text-align: left;
    top: 200px; /* Ajuste a posição do texto */
    left: 100px;
    color: #ededed;
    font-size: 8rem;
    flex-wrap: nowrap; /* Garantir que o texto fique em uma única linha */
    align-items: center; /* Alinha o texto verticalmente */
}

.overlay-p{
    display: flex;
    position: absolute;
    text-align: left;
    top: 420px; /* Ajuste a posição do texto */
    left: 100px;
    color: #ededed;
    font-size: 5rem;

}

.overlay::before {
    content: "NÓS SOMOS";
    color: #0285f4;
    position: absolute;
    font-size: 8rem;
    top: 0;
    left: 0;

}


.home .controles .video-btn.active{
    background: #ededed;

}


header .navbar a:hover{
    color: #0285f4;
}


.servicos {
    text-align: center;
    padding: 50px 20px;
    background-color: #ededed;
}

.servicos h1 {
    font-size: 4rem;
    color: #0d1837;
    margin-bottom: 40px;
}

.servicos h1 span {
    color: #0285f4;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.servico {
    flex: 1 1 23%;
    background-color: #ededed;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column; /* Para alinhar o botão no final */
    justify-content: space-between; /* Alinha os elementos internamente */
    text-align: center;
    min-height: 380px; /* Define uma altura mínima para todas as divs */
}

.servico:hover {
    transform: translateY(-10px);
}

.icone img {
    width: 100%;  /* A imagem agora vai ocupar 100% da largura da div */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem seja ajustada corretamente na div */
    margin-bottom: 20px;
}

.servico h2 {
    font-size: 20px;
    color: #0d1837;
    margin-bottom: 15px;
}

.servico p {
    color: #0d1837;
    font-size: 2rem;
    margin-bottom: 10px;
    line-height: 1.5;
}

button {
    padding: 10px 20px;
    background-color: #0285f4;
    color: #ededed;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Garante que o botão sempre fica no final */
}


/* inicio section projetos */
.slider-section {
    text-align: center;
    width: 100vw; /* Garante que ocupe 100% da largura da viewport */
    padding: 0; /* Remove o padding */
    background-color: #0d1837; /* Fundo azul */
}

.slider {
    max-width: 100rem; /* Define a largura máxima como 80rem */
    width: 100%; /* Responsivo, ajustável em telas menores */
    margin: 0 auto; /* Centraliza o slider horizontalmente */
    border-radius: 1rem; /* Arredondamento leve em rem */
    box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.1); /* Sombra leve */
}


.conteudo h2{
    font-size: 4rem;
    padding-top: 50px; /* Adiciona padding para forçar espaço acima */
    color: #ededed;

}

.conteudo p{
    font-size: 3rem;
    margin-top: 2%;
    margin-bottom: 4%;
    color: #ededed;


}

.nunca-azul{
    color: #0285f4;
}


.slides {
    display: flex;
}

.slide {
    display: none; /* Oculte todos os slides por padrão */
    width: 100%; /* O slide ocupa 100% da largura do slider */
}

.slide.active {
    display: block; /* Exibe o slide ativo */
}

img {
    width: 100%; /* Faz a imagem ocupar 100% do slide */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 1rem; /* Arredondamento da imagem */
}

.controles {
    margin-top: 3rem; /* Espaço superior */
    padding-bottom: 3rem; /* Espaço inferior */
}

label {
    cursor: pointer;
    display: inline-block;
    width: 3rem; /* Largura da bolinha */
    height: 3rem; /* Altura da bolinha */
    border-radius: 50%; /* Faz a bolinha redonda */
    border: 0.3rem solid #0285f4;
    background-color: transparent; /* Cor de fundo padrão */
    transition: background-color 0.3s, border-color 0.3s; /* Transição suave */
}

input[type="radio"] {
    display: none; /* Oculta os botões de rádio */
}

input[type="radio"]:checked + label {
    background-color: #0285f4;
    border-color: #0285f4;
}

/* fim section projetos */


.tecnologias {
    position: relative;
    width: 100vw;
    min-height: 100vh; /* Ajuste para garantir que a seção ocupe no mínimo a altura da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0; /* Aumentei o padding para dar mais espaço vertical */
}

.titulo-tecnologias {
    font-size: 6rem;
    text-align: center;
    color: #0d1837;
    margin-bottom: 40px; /* Aumentei a margem inferior para mais espaço abaixo do título */
}

.tecnologias-azul {
    color: #00aaff;
}

.paragrafo-tecnologias {
    font-size: 4rem;
    text-align: center;
    color: #333;
    margin-bottom: 60px; /* Aumentei a margem inferior para dar mais espaço antes dos ícones */
}

.conteudo-icones-tecnologias {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas no total */
    grid-auto-rows: auto; /* A altura das linhas será ajustada automaticamente */
    gap: 40px; /* Espaçamento entre os itens */
    width: 90%;
    max-width: 1400px;
    margin: 0 auto; /* Centraliza a seção */
    padding: 40px 0;
    justify-items: center; /* Centraliza os itens em cada coluna */
}

.img-icones-tecnologias {
    width: 250px; /* Tamanho dos ícones */
    transition: transform 0.3s ease;
}

.img-icones-tecnologias:hover {
    transform: scale(1.15);
}


/*fim estilo da section tecnologias*/

/*inicip estilo da section metodo de trabalho*/

.metodo-trabalho {
    text-align: center;
    padding: 50px 20px;
    background-color: #0d1837;
    color: #0d1837;
    min-height: 100vh; /* Garante que a seção ocupe toda a altura da janela */
}

.metodo-trabalho h1 {
    font-size: 3.5rem;
    color: #ededed;
    margin-bottom: 50px;
    margin-top: 25px;
}

.highlight {
    color: #0285f4;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Alinhando todos os cards com a mesma altura */
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.step {
    background-color: #ededed;
    padding: 30px; /* Aumentei o padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 100%; /* Ajusta a largura dos cards */
    max-width: 450px; /* Aumentei o max-width */
    text-align: center;
    margin: 10px; /* Adicionei uma margem para espaçamento */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o conteúdo dentro do card também seja distribuído corretamente */
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.step {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.step h2 {
    font-size: 3rem;
    padding: 20px;
}

.step p {
    font-size: 2rem;
    color: #0d1837;
}

.step img {
    width: 100%;  /* A imagem agora vai ocupar 100% da largura da div */
    height: auto; /* Mantém a proporção da imagem */
    object-fit: contain; /* Garante que a imagem seja ajustada corretamente na div */
}


/*fim da section metodo de trabalho*/


/*inicio da section carrosel de videos*/

.video-section {
    background-color: #ededed;
    padding: 20px 40px 100px 40px; /* Reduz o padding-top, aumenta o padding-bottom */
    text-align: center;
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
  }
  
  .video-section h1 {
    margin-top: 35px;
    margin-bottom: 45px;
    font-size: 3rem;
  }

  .card .title{
    font-size: 2.5rem;
  }

  
  .video-section .diferença-azul{
    color: #0285f4;
  }

  .cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */

  }
  
  .card {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-bottom: 20px; /* Adicionei um espaçamento inferior entre os cards */

  }
  
  .card:hover {
    transform: translateY(-10px);
  }

  /* Estilo do vídeo */
  .card video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Estilo do título */
  .title {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #ededed;
    font-size: 18px;
    text-align: center;
  }
  
  /* Texto ao passar o mouse */
  .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  /* Mostrar o texto ao passar o mouse */
  .card:hover .hover-text {
    opacity: 1;
  }

/*fim da section carrosel de videos*/



/*estilo da section parceiros*/

.partners-section {
    text-align: center;
    background-color: #14213d;
    width: 100%;
    margin: 0 auto; /* Centraliza a section */
    min-height: 600px; /* Aumenta a altura da section */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
}


.partners-text h2 {
    font-size: 3.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #ededed;
}

.partners-text p {
    font-size: 3rem;
    margin-bottom: 50px;
    color: #ededed;
}

.highlight {
    color: #0285f4;
    font-weight: bold;
}

.partners-logos {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    margin-bottom: 40px;
    width: 100%; /* Garante que ocupe a largura total */
}


.partners-logos img {
    width: 95%; /* Aumenta a largura da imagem para 120% do contêiner */
    max-width: 100%; /* Impede que a imagem ultrapasse a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem */
}

.partners-button button {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ededed;
    color: #14213d;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.partners-button button:hover {
    background-color: #0285f4;
    color: #ededed;
}

/*fim da section parceiros*/


/* Section Sobre Nós */
.sobre-nos-section {
    padding: 40px 0;
    background-color: #ededed;
}

/* Container flexível */
.container-sobre-nos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Para permitir empilhamento em telas pequenas */
}

/* Ajuste do texto */
.sobre-nos-texto {
    font-size: 2.2rem;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

    .sobre-nos-imagem {
        width: 50%;

        
    }

.sobre-nos-texto h1 {
    font-size: 4rem;
    color: #0d1837;
    margin-bottom: 10px;
    margin-top: -20px;
}

.sobre-nos-texto h2 {
    font-size: 3rem;
    color: #0d1837;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sobre-nos-texto h1 .destaque-azul {
    color: #0285f4;
}

/* Custom list estilo */
.custom-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
    background-color: #0d1837;
    border-radius: 12px;
    overflow: hidden;
}

.custom-list li {
    padding: 15px 20px;
    font-size: 1.5rem;
    background: rgba(63, 49, 49, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: left;

}

.custom-list li {
    transition: transform 0.3s ease;
}
.custom-list li:hover {
    transform: scale(1.05); /* Aumenta levemente o item */
}


.sobre-nos-texto p {
    padding: 4px 0;
    font-size: 2.2rem;
    margin-bottom: 15px;
    margin-top: 10px;
}

/* Redes Sociais */
.redes-sociais {
    margin-top: 20px;
}

.redes-sociais img {
    width: 50px;
    margin-right: 10px;
}

/* Ajuste da imagem */
.sobre-nos-imagem {
    width: 50%; /* Ajuste para 50% como padrão */
}

.sobre-nos-imagem img {
    width: 150%;
    height: auto;
}


/*inicio da section contato e loc*/

.footer {
    background-color: #ededed;
    padding: 20px;
    color: #0d1837;
    text-align: center;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    border-top: 1px solid #ededed;
    height: 400px;
    margin-left: 20px;
    font-size: 20px; /* Ajuste o tamanho base do texto */

}


.contact-info {
    width: 30%;
    height: 100%;
    text-align: left;
    margin-top: -7px;
}

.site-map{
    width: 30%;
    height: 100%;
    text-align: left;
}


.site-map ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.site-map li {
    margin-bottom: 10px;
}

.site-map a {
    text-decoration: none;
    color: #0d1837;
    font-size: 20px; /* Aumentar o tamanho do texto */

}

.contact-info p {
    align-items: center;
    margin-top: 10px;
    margin-left: -20px;
    font-size: 20px; /* Aumentar o tamanho do texto */

}

.contact img {
    width: 200px; /* Defina o tamanho da logo */
    height: auto;
    margin-top: 80px;
    margin-left: -50px;
}

.qr-et {
    text-align: center;
    margin-right: 20px;
}

.qr-et img{
    width: 125px; /* Tamanho reduzido do ET */
    height: auto;
    margin-top: 10px; /* Menor margem */
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centralizar a imagem do ET */
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ededed;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media a {
    margin: 0 10px;
    font-size: 18px; /* Aumentar o tamanho do texto */

}

.social-icon {
    width: 50px; /* Tamanho dos ícones de redes sociais */
    height: auto;
}

.legal-info {
    font-size: 18px;
}

.whatsapp-link {
    text-decoration: underline;
    color: inherit; /* Mantém a cor original do texto */
}
.whatsapp-link:hover {
    color: #25D366; /* Cor verde do WhatsApp ao passar o mouse */
}

@media (max-width: 999px) {
    /* Ajustes gerais para o menu em mobile */
    .navbar {
      display: flex;
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #0d1837;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
  
    .navbar a {
      margin-left: 0;
      opacity: 0;
      transform: translateX(50px);
      transition: opacity 0.5s ease, transform 0.5s ease; /* Sem keyframes */
    }
  
    .mobile-menu {
      display: block;
    }
  
    .navbar.active {
      transform: translateX(0);
    }
  
    .navbar.active a {
      opacity: 1;
      transform: translateX(0);
    }
  
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
  
    .mobile-menu.active .line2 {
      opacity: 0;
    }
  
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  
    .dropdown-content {
      display: none !important;
    }
  
  }


/* Responsividade */
@media (max-width: 768px) {
    .titulo-tecnologias {
        font-size: 4rem;
    }

    .paragrafo-tecnologias {
        font-size: 2rem;
    }

    .conteudo-icones-tecnologias {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajuste para telas menores */
        gap: 30px; /* Reduzi o espaçamento */
    }

    .img-icones-tecnologias {
        width: 150px; 
    }
}


/* Responsividade */
@media (max-width: 768px) {

    section.tecnologias {
        padding: 0 5px; /* Ajuste o padding superior e inferior */
    }

    .titulo-tecnologias {
        font-size: 3rem;
        margin-top: 25px !important; /* Força o ajuste de tamanho */
    }

    .paragrafo-tecnologias {
        font-size: 2rem;
        margin-bottom: 10px !important; /* Força o ajuste de tamanho */

    }

    .conteudo-icones-tecnologias {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Ajuste para telas menores */
        gap: 30px; /* Reduzi o espaçamento */
    }

    .img-icones-tecnologias {
        width: 100% !important; /* Força o ajuste de tamanho */
        max-width: 200px; /* Ajuste o valor conforme necessário */
        height: auto; /* Mantém a proporção das imagens */
    }
}

@media (max-width: 480px) {
    .conteudo-icones-tecnologias {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Ajuste para telas pequenas */
        gap: 20px;
    }

    .img-icones-tecnologias {
        width: 120px; /* Ajuste para telas pequenas */
    }
}


/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    .steps {
        flex-direction: column;
        align-items: center;
    }

    .step {
        max-width: 100%; /* Faz os cards ocuparem toda a largura em telas menores */
    }
}

 /* Estilos responsivos para telas menores */
 @media (max-width: 768px) {
    .cards {
        flex-direction: column; /* Alinha os cards em coluna em telas menores */
        align-items: center;
    }

    .card {
        width: 100%; /* Faz os cards ocuparem toda a largura disponível */
        max-width: 400px; /* Limita o tamanho máximo */
    }
}

/* Responsividade para tablets e celulares */
@media (max-width: 768px) {
    .container-sobre-nos {
        flex-direction: column;
        align-items: center;
    }

    .sobre-nos-texto {
        width: 100%;
        text-align: center;
    }

    .sobre-nos-imagem {
        width: 100%;
        margin-top: 20px;
    }

    .sobre-nos-texto h1, 
    .sobre-nos-texto h2, 
    .sobre-nos-texto ul li, 
    .sobre-nos-texto p {
        font-size: 1.8rem; /* Ajuste do tamanho da fonte */
    }

    .sobre-nos-texto h1 {
        font-size: 2.5rem;
    }

    .sobre-nos-texto h2 {
        font-size: 2.2rem;
    }

    .custom-list {
        margin: 20px auto; /* Adiciona margin automática nas laterais para centralizar */
        max-width: 90%; /* Ajusta a largura para telas menores */
    }

    /* Ajuste dos itens da lista */
    .custom-list li {
        font-size: 1.4rem; /* Tamanho menor para caber bem na tela */
    }
}

/* Responsividade para telas maiores */
@media (min-width: 1024px) {
    .custom-list {
        max-width: 500px;
    }
}




/* Responsividade */
@media (max-width: 768px) {

    .servico {
        flex: 1 1 100%; /* Um card por linha em dispositivos menores */
    }

    .servicos h1 {
        font-size: 2.5rem; /* Tamanho do título ainda menor para smartphones */
    }
    


    .footer-container {
        flex-direction: column; /* Empilhar os elementos verticalmente */
        height: auto; /* Ajuste automático de altura */
        margin-left: 0; /* Remover margem à esquerda */
    }

    .contact-info, .site-map, .qr-et {
        width: 100%; /* Ocupar 100% da largura no mobile */
        text-align: center; /* Centralizar o texto e os elementos */
        margin-top: 20px; /* Adicionar espaçamento entre as seções */
    }

    .contact-info p, .site-map a, .site-map ul, .site-map li {
        font-size: 18px; /* Reduzir o tamanho do texto para mobile */
    }

    .contact img {
        width: 150px; /* Ajuste o tamanho da imagem da logo no mobile */
        margin-left: 0; /* Centralizar a logo no mobile */
    }

    .qr-et img {
        width: 100px; /* Tamanho reduzido do QR e ET no mobile */
    }

    .qr-et .et-image{
        padding-right: 20px;
    }

    .footer-bottom {
        flex-direction: column; /* Organizar o footer-bottom verticalmente no mobile */
        align-items: center; /* Centralizar conteúdo */
        margin-top: 20px;
    }

    .social-media {
        margin-top: 10px; /* Espaçamento adicional entre os elementos no mobile */
    }

    .social-media a {
        font-size: 16px; /* Tamanho do texto das redes sociais no mobile */
    }

    .social-icon {
        width: 40px; /* Tamanho menor para ícones de redes sociais */
    }

    .legal-info {
        font-size: 16px; /* Ajuste de tamanho para texto legal */
        margin-top: 15px;
    }
}





@media (min-width: 1280px) and (max-width: 1919px) {
    .home{
        position: relative;
        height: 100vh;
    }

    .video-conteiner{
        position: absolute;
        top: 0;
        left: o;
        z-index: -3;
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    #video-slider{
    position: relative;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    
    }

    .video-conteiner video {
        pointer-events: none;
    }
    
     .home .controles{
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: #0d1837;
        position: relative;
        top: 30rem;
    }
    
    .home .controles .video-btn{
        height: 3rem;
        width: 3rem;
        display: inline-block;
        border-radius: 50%;
        background: #0285f4;
        cursor: pointer;
        margin: 0 .5rem;
    
    }


    .overlay {
        top: 180px; /* Ajuste de posição para smartphones pequenos */
        left: 40px; /* Redução da distância da borda */
        font-size: 7rem; /* Tamanho da fonte para smartphones pequenos */
    }
    
    .overlay-p {
        top: 400px; /* Ajustar o parágrafo para smartphones pequenos */
        left: 40px; /* Redução da distância da borda */
        font-size: 3rem; /* Tamanho da fonte do parágrafo para smartphones pequenos */
    }

    .overlay::before {
        font-size: 7rem; /* Reduzir tamanho do "NÓS SOMOS" para smartphones pequenos */
    }

    .video-conteiner .btn{
        height: 7.5rem;
        width: 15rem;
        padding: 20px;
        top: 85%;
        left: -43px;
        font-size: 2.2rem;
    }
    


}



   /* Estilos gerais para dispositivos com largura máxima de 999px (smartphones) */
@media (max-width: 999px) { /* Smartphones */
    .overlay {
        top: 200px; /* Ajuste a posição do texto */
        left: 20px;
        color: #ededed;
        font-size: 7rem; /* Tamanho da fonte para smartphones */

    }
    
    .overlay-p {
        display: flex;
        position: absolute;
        text-align: left;
        top: 400px; /* Ajuste a posição do texto */
        left: 20px;
        color: #ededed;
        font-size: 6rem; /* Tamanho da fonte do parágrafo para smartphones */
        
    }
    
    .overlay::before {
        content: "NÓS SOMOS";
        color: #0285f4;
        position: absolute;
        font-size: 7rem; /* Tamanho da fonte do título para smartphones */
        top: 0;
        left: 0;
    }

    .video-conteiner .btn{
        padding: 10px;
        top: 68%;
        left: -48px;
        font-size: 1.5rem;
        background: #0285f4;
    }
    
    .home .controles .video-btn{
        height: 2rem;
        width: 2rem;
    
    }


}



/* Adicionando ajustes para dispositivos menores, como smartphones pequenos */
@media (max-width: 480px) { /* Smartphones pequenos */
    .overlay {
        top: 180px; /* Ajuste de posição para smartphones pequenos */
        left: 40px; /* Redução da distância da borda */
        font-size: 3.5rem; /* Tamanho da fonte para smartphones pequenos */
    }
    
    .overlay-p {
        top: 320px; /* Ajustar o parágrafo para smartphones pequenos */
        left: 40px; /* Redução da distância da borda */
        font-size: 2.0rem; /* Tamanho da fonte do parágrafo para smartphones pequenos */
    }

    .overlay::before {
        font-size: 3.5rem; /* Reduzir tamanho do "NÓS SOMOS" para smartphones pequenos */
    }

    .video-conteiner .btn{
        padding: 10px;
        top: 68%;
        left: -48px;
        font-size: 1.5rem;
        background: #0285f4;
    }
    
    .home .controles .video-btn{
        height: 2rem;
        width: 2rem;
    
    }



}

/* Estilos gerais para iPhones até o iPhone 5 (largura máxima de 320px) */
@media (max-width: 320px) { /* iPhone 5 e 5s */
    .overlay {
        top: 160px; /* Ajuste de posição para iPhone 5 */
        left: 10px; /* Redução da distância da borda */
        font-size: 3rem; /* Tamanho da fonte para iPhone 5 */
    }
    
    .overlay-p {
        top: 280px; /* Ajustar o parágrafo para iPhone 5 */
        left: 10px; /* Redução da distância da borda */
        font-size: 1.5rem; /* Tamanho da fonte do parágrafo para iPhone 5 */
    }

    .overlay::before {
        font-size: 3rem; /* Reduzir tamanho do "NÓS SOMOS" para iPhone 5 */
    }

    

}


@media (max-width: 768px) {
    .servico {
        flex: 1 1 100%; /* Um card por linha em dispositivos menores */
    }

    .servicos h1 {
        font-size: 2.5rem; /* Tamanho do título ainda menor para smartphones */
    }
    

}

@media (max-width: 480px) {
    .servico h2 {
        font-size: 18px; /* Tamanho do título menor para smartphones pequenos */
    }

    .servico p {
        font-size: 1.2rem; /* Tamanho do parágrafo menor para smartphones pequenos */
    }

    button {
        font-size: 12px; /* Tamanho do botão menor para smartphones pequenos */
    }

}



/* Ajuste para smartphones */
@media (max-width: 768px) {

    .home .controles{
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: #0d1837;
        position: relative;
        top: 28rem;
    }
    
    .home .controles .video-btn{
        height: 2rem;
        width: 2rem;
        display: inline-block;
        border-radius: 50%;
        background: #0285f4;
        cursor: pointer;
        margin: 0 .5rem;
    
    }


    .slider-section {
        padding: 0;
        width: 100vw;
    }

    .slider {
        max-width: 100rem; /* Reduz ainda mais a largura máxima */
        width: 100%;
        margin: 0 auto;
    }

    .conteudo h2 {
        text-align: left;
        font-size: 3rem; /* Ajuste do tamanho da fonte para telas menores */
        margin-top: 0; /* Remove a margem superior para subir o h2 */
        margin-left: 20px; /* Centraliza horizontalmente com margens automáticas */
        margin-right: auto;
        max-width: 100%; /* Controla a largura máxima do conteúdo */
    }
    
    .conteudo p {
        text-align: left;
        font-size: 1.5rem; /* Tamanho menor para uma melhor adaptação em telas pequenas */
        margin-bottom: 3%;
        margin-left: 20px; /* Centraliza horizontalmente com margens automáticas */
        margin-right: auto;
        max-width: 100%; /* Controla a largura máxima do conteúdo */
    }

    img {
        width: 100%; /* Responsivo para telas menores */
        height: auto;
        border-radius: 1rem;
    }

    .controles {
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    label {
        width: 2rem; /* Bolinha menor para smartphones */
        height: 2rem;
    }
}

/* Responsividade para tablets comuns, como iPad e tablets Android (largura máxima de 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

       /* Ajustes gerais para o menu em mobile */
       .navbar {
        display: flex;
        position: absolute;
        top: 6vh;
        right: 0;
        width: 50vw;
        height: 94vh;
        background: #0d1837;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }
    
      .navbar a {
        margin-left: 0;
        opacity: 0;
        transform: translateX(50px);
        transition: opacity 0.5s ease, transform 0.5s ease; /* Sem keyframes */
      }
    
      .mobile-menu {
        display: block;
      }
    
      .navbar.active {
        transform: translateX(0);
      }
    
      .navbar.active a {
        opacity: 1;
        transform: translateX(0);
      }
    
      .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
    
      .mobile-menu.active .line2 {
        opacity: 0;
      }
    
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }
    
      .dropdown-content {
        display: none !important;
      }

    .home .controles{
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: #0d1837;
        position: relative;
        top: 50rem;
    }
    
    .home .controles .video-btn{
        height: 4rem;
        width: 4rem;
        display: inline-block;
        border-radius: 50%;
        background: #0285f4;
        cursor: pointer;
        margin: 0 .5rem;
    
    }


    .overlay {
        top: 180px; /* Ajuste de posição para smartphones pequenos */
        left: 40px; /* Redução da distância da borda */
        font-size: 7rem; /* Tamanho da fonte para smartphones pequenos */
    }
    
    .overlay-p {
        top: 480px; /* Ajustar o parágrafo para smartphones pequenos */
        left: 40px; /* Redução da distância da borda */
        font-size: 6rem; /* Tamanho da fonte do parágrafo para smartphones pequenos */
    }

    .overlay::before {
        font-size: 7rem; /* Reduzir tamanho do "NÓS SOMOS" para smartphones pequenos */
    }

    .video-conteiner .btn{
        padding: 20px;
        top: 80%;
        left: -43px;
        font-size: 3rem;
    }
    

    section.tecnologias {
        width: 100%;
        padding: 0 5px;
    }

    .titulo-tecnologias {
        font-size: 6rem;
        margin-top: 25px !important;
    }

    .paragrafo-tecnologias {
        font-size: 4rem;
        margin-bottom: 10px !important;
    }

    .conteudo-icones-tecnologias {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Define 2 colunas no grid */
        gap: 30px; /* Espaçamento entre as imagens */
    }

    .img-icones-tecnologias {
        width: 100% !important; /* Ajuste para que as imagens preencham a largura da coluna */
        max-width: 250px; /* Limita o tamanho máximo das imagens */
        height: auto; /* Mantém a proporção das imagens */
    }


    .video-section {
        padding: 40px 20px; /* Adiciona espaçamento ao redor da seção */
    }

    .video-section h1 {
        font-size: 4rem; /* Ajusta o tamanho do título */
        text-align: center; /* Centraliza o título */
        margin-bottom: 30px; /* Espaçamento abaixo do título */
    }

    .cards {
        display: flex; /* Usa flexbox para os cards */
        flex-direction: row; /* Mantém os cards em linha */
        justify-content: center; /* Centraliza os cards */
        flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha, se necessário */
        gap: 20px; /* Espaçamento entre os cards */
    }

    .card {
        max-width: 30%; /* Cada card ocupará cerca de 30% da largura disponível */
        box-sizing: border-box; /* Garante que padding e border não influenciem no cálculo de largura */
        text-align: center; /* Centraliza o texto dentro do card */
    }

    .card video {
        width: 100%; /* Ajusta o tamanho do vídeo para ocupar toda a largura do card */
        height: auto; /* Mantém a proporção do vídeo */
        margin-bottom: 10px; /* Espaço abaixo do vídeo */
    }

    .card .title {
        font-size: 2.5rem; /* Ajusta o tamanho do título */
        margin-bottom: 5px; /* Espaço abaixo do título */
    }

    .card .hover-text {
        font-size: 2rem; /* Ajusta o tamanho do texto explicativo */
    }

    
    .container-sobre-nos {
        flex-direction: column;
        align-items: center;
    }

    .sobre-nos-texto {
        width: 100%;
        text-align: center;
    }

    .sobre-nos-imagem {
        width: 80%;
        margin-top: 20px;
        margin-right: 10px;
        
    }

    .sobre-nos-texto h1, 
    .sobre-nos-texto h2, 
    .sobre-nos-texto ul li, 
    .sobre-nos-texto p {
        font-size: 1.8rem; /* Ajuste do tamanho da fonte */
    }

    .sobre-nos-texto h1 {
        font-size: 5rem;
    }

    .sobre-nos-texto h2 {
        font-size: 5rem;
    }

    .sobre-nos-texto p {
        font-size: 3rem;
    }

    .custom-list {
        margin: 20px auto; /* Adiciona margin automática nas laterais para centralizar */
        max-width: 90%; /* Ajusta a largura para telas menores */
    }

    /* Ajuste dos itens da lista */
    .custom-list li {
        font-size: 1.4rem; /* Tamanho menor para caber bem na tela */
    }

    /* Ajuste dos cards de serviço */
    .servico {
        flex: 1 1 45%; /* Dois cards por linha */
    }

    .servicos h1 {
        font-size: 6rem;
    }

    .servicos h2 {
        font-size: 3rem;
    }


    /* Ajustes de slider */

    section.slider-section {
        padding: 40px 20px; /* Aumenta o espaço interno da seção */
    }
    
    .slider-section {
        width: 100%
        
    }

    .slider {
        max-width: 100rem;
    }

    .slider-section .conteudo h2 {
        font-size: 6rem; /* Aumenta o tamanho do h2 */
        line-height: 1.2; /* Ajusta o espaçamento entre linhas para melhor leitura */
        margin-bottom: 15px; /* Ajusta o espaçamento inferior */
    }

    .slider-section .conteudo p {
        font-size: 4rem; /* Aumenta o tamanho do parágrafo */
        line-height: 1.5; /* Ajusta a altura da linha para melhor leitura */
    }

    .slide{
        padding: 40px 20px; /* Aumenta o espaço interno da seção */

    }

    img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    .steps {
        display: flex;
        flex-direction: row; /* Mantém os itens em linha */
        align-items: center; /* Alinha os itens verticalmente ao centro */
        justify-content: center; /* Centraliza os itens horizontalmente */
        flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se necessário */
        gap: 20px; /* Adiciona espaço entre os itens */
    }

    .step {
        max-width: 65%; /* Cada item ocupa cerca de metade da largura do container */
        box-sizing: border-box; /* Garante que padding e border não influenciem no cálculo de largura */
    }

    .metodo-trabalho img {
        width: 100%; /* Ajusta o tamanho das imagens */
        height: auto; /* Mantém a proporção das imagens */
        margin-bottom: 10px; /* Espaçamento abaixo da imagem */
    }

    .metodo-trabalho h1 {
        font-size: 6rem; /* Ajusta o tamanho do título principal */
        margin-bottom: 30px; /* Espaçamento abaixo do título */
        text-align: center;
    }

    .metodo-trabalho h2 {
        font-size: 4rem; /* Ajusta o tamanho do subtítulo */
        margin-bottom: 10px; /* Espaçamento abaixo do subtítulo */
    }

    .metodo-trabalho p {
        font-size: 3rem; /* Ajusta o tamanho do texto do parágrafo */
        line-height: 1.5; /* Melhor espaçamento entre linhas para legibilidade */
    }

    .partners-section {
        padding: 60px 20px; /* Aumenta o padding para afastar o conteúdo das bordas */
        text-align: center; /* Centraliza o texto na seção */
    }

    .partners-text h2 {
        font-size: 4.5rem; /* Aumenta o tamanho do título para tablets */
        margin-top: -15px;
        margin-bottom: 15px; /* Espaço abaixo do título */
    }

    .partners-text p {
        font-size: 4rem; /* Aumenta o tamanho do parágrafo para tablets */
        margin-bottom: 20px; /* Espaço abaixo do parágrafo */
        padding-top: 20px; /* Adiciona espaço acima do parágrafo */

    }

    .partners-logos img {
        width: 100%; /* Ajusta o tamanho da imagem para ocupar toda a largura disponível */
        height: auto; /* Mantém a proporção da imagem */
        max-width: 700px; /* Define um tamanho máximo para a imagem em telas de tablets */
        margin-bottom: -25px; /* Adiciona espaço abaixo da imagem */

    }

    .partners-button {
        margin-top: 30px; /* Aumenta o espaço acima do botão */
    }



    .footer-container {
        flex-direction: column; /* Empilhar os elementos verticalmente */
        height: auto; /* Ajuste automático de altura */
        margin-left: 0; /* Remover margem à esquerda */
        padding: 20px; /* Adiciona padding para espaçamento */
    }

    .contact-info, .site-map, .qr-et {
        width: 100%; /* Ocupar 100% da largura no tablet */
        text-align: center; /* Centralizar o texto e os elementos */
        margin-top: 20px; /* Adicionar espaçamento entre as seções */
    }

    .contact-info p, .site-map a, .site-map ul, .site-map li {
        font-size: 20px; /* Aumentar o tamanho do texto para tablets */
    }

    .contact img {
        width: 200px; /* Ajuste o tamanho da imagem da logo no tablet */
        margin-left: 0; /* Centralizar a logo no tablet */
    }

    .qr-et img {
        width: 150px; /* Tamanho aumentado do QR e ET no tablet */
    }

    .qr-et .et-image {
        padding-right: 30px; /* Aumenta o padding à direita da imagem ET no tablet */
    }

    .footer-bottom {
        flex-direction: column; /* Organizar o footer-bottom verticalmente no tablet */
        align-items: center; /* Centralizar conteúdo */
        margin-top: 20px;
    }

    .social-media {
        margin-top: 15px; /* Espaçamento adicional entre os elementos no tablet */
    }

    .social-media a {
        font-size: 18px; /* Tamanho do texto das redes sociais no tablet */
    }

    .social-icon {
        width: 50px; /* Tamanho maior para ícones de redes sociais */
    }

    .legal-info {
        font-size: 18px; /* Ajuste de tamanho para texto legal */
        margin-top: 20px;
    }
}
