*{
    font-family: 'Inter', sans-serif; /* Aplica a fonte Inter ao corpo do documento */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem; /*faz a ação de rolar ate onde cliquei no meu fixo*/
    scroll-behavior: smooth;
}



  /* inicio menu em mobile */
  .mobile-menu{
    cursor: pointer;
    display: none;
  
  }
  
  .mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ededed;
    margin: 8px;
    transition: 0.3s;
  
  }
  
  @media (max-width: 999px) {
    /* Ajustes gerais para o menu em mobile */
    .navbar {
      display: flex;
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #0d1837;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
  
    .navbar a {
      margin-left: 0;
      opacity: 0;
      transform: translateX(50px);
      transition: opacity 0.5s ease, transform 0.5s ease; /* Sem keyframes */
    }
  
    .mobile-menu {
      display: block;
    }
  
    .navbar.active {
      transform: translateX(0);
    }
  
    .navbar.active a {
      opacity: 1;
      transform: translateX(0);
    }
  
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
  
    .mobile-menu.active .line2 {
      opacity: 0;
    }
  
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
  
    .dropdown-content {
      display: none !important;
    }
  
  
  }
  
    /* fim menu em mobile */
  
  
  header{ /*explorar aq dps*/
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #0d1837;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
  }
  
  .logo {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    display: block;
  }
  
  
  header .navbar a{
    color: #ededed;
    font-size: 2rem;
    margin: 0 .8rem;
  }
  
  #menu-bar{
    color: #ededed;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
  }
  
  .home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  
  header .navbar a:hover{
    color: #0285f4;
  }
  
  
  /* Estilos existentes... */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    visibility: hidden; /* Esconde o menu inicialmente */
    opacity: 0; /* Invisível inicialmente */
    position: absolute;
    background-color: #0d1837;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    display: flex; /* Mantém o alinhamento */
    flex-direction: column; /* Mantém os itens alinhados verticalmente */
    transition: visibility 0.3s, opacity 0.3s ease-in-out; /* Transição suave */
  }
  
  .dropdown-content a {
    color: #ededed;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    white-space: nowrap; /* Evita quebra de linha nos itens do dropdown */
  }
  
  .dropdown-content a:hover {
    background-color: #14213d;
  }
  
  /* Quando o menu estiver visível, as propriedades são alteradas */
  .show {
    visibility: visible;
    opacity: 1;
  }
  
  /* Ajustes para garantir que os itens não sejam deslocados */
  .navbar a, .dropdown {
    display: inline-block;
    vertical-align: middle; /* Mantém alinhamento vertical */
  }
  
  .dropdown-content {
    flex-direction: column; /* Garante que os itens fiquem em coluna */
  }


.trabalhe-conosco-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 9%;
}

body {
    padding-top: 8rem;
    background: #ededed;
    margin: 0;
}

.trabalhe-conosco-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    margin-left: 6rem;
    

}

.formulario-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 2rem;
}

.formulario-container h1 {
    font-size: 3rem;
    color: #0d1837;
    text-align: center;
    margin-bottom: 5%;
}

.formulario-container p {
    font-size: 2rem;
    color: #0d1837;
    text-align: center;    
}

.formulario-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin-top: 2rem;
}

.formulario-container input[type="text"],
.formulario-container input[type="email"],
.file-input-wrapper {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0d1837;
    border-radius: 5px;
    font-size: 1.6rem;
    
}

.file-input-wrapper label {
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: #0d1837;
    color: #ededed;
    padding: 0.8rem;
    text-align: center;
    border-radius: 4px;
    font-size: 1.8rem;

}

.file-input-wrapper input {
    display: none;
}

.formulario-container button[type="submit"] {
    background-color: #0d1837;
    color: #ededed;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.8rem;
    width: 100%;
}

.formulario-container button[type="submit"]:hover {
    background-color: #0d1837;
}

.info-container {
    width: 45%;
    text-align: center;
    display: flex;
    justify-content: flex-end; /* Move o conteúdo (imagem) para a direita */
    align-items: center; /* Centraliza verticalmente o conteúdo */
    height: 100vh; /* Isso ajusta a altura do contêiner à altura total da tela */
}

.info-container img {
    max-width: 40rem;
    height: auto;
}




@media (max-width: 768px) {
    .trabalhe-conosco-wrapper {
        flex-direction: column;
    }

    .formulario-container,
    .info-container {
        width: 100%;
    }
}

/* Adicionado para o Modal */
/* Modal */
.modal {
  display: none; /* Escondido por padrão */
  position: fixed; /* Fixa a posição */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  z-index: 1000; /* Garante que esteja sobre outros elementos */
}

/* Conteúdo do Modal */
.modal-content {
  background-color: #ededed; /* Cor de fundo clara */
  padding: 20px;
  border: 1px solid #0d1837; /* Cor da borda */
  border-radius: 5px; /* Bordas arredondadas */
  margin: 100px auto; /* Centraliza o modal */
  width: 300px; /* Largura fixa do modal */
  text-align: center; /* Centraliza o texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

/* Estilização do texto dentro do modal */
.modal-content p {
  font-size: 1.5em; /* Tamanho da fonte do texto principal */
  margin-bottom: 15px; /* Espaçamento abaixo do texto */
  color: #0d1837; /* Cor do texto */
}

/* Estilização do botão de fechar */
.modal-content button {
  background-color: #0d1837; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
  border-radius: 5px; /* Bordas arredondadas no botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  font-size: 1em; /* Tamanho da fonte do botão */
  cursor: pointer; /* Cursor de ponteiro ao passar sobre o botão */
}

.modal-content button:hover {
  background-color: #252f5b; /* Cor de fundo ao passar o mouse */
}


@media (max-width: 768px) {
  .trabalhe-conosco-wrapper {
      flex-direction: column;
  }

  .formulario-container,
  .info-container {
      width: 100%;
  }
}

@media (max-width: 999px) {
  .trabalhe-conosco-section{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .formulario-container,
  .info-container {
      width: 100%;
  }

  .formulario-container h1 {
    text-align: center;
    margin-left: -10rem;
  }

  .formulario-container p {
    text-align: center;
    margin-left: -10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }

  .formulario-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    margin-left: -10rem;

}


  .trabalhe-conosco-wrapper{
    flex-direction: column-reverse;
  }

  .info-container img{
    width: 80%;
    margin-right: -3rem;
  }
}
